<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav>
            <div>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WolfsGames</a>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div>
			<p>&copy; 2023 - @DateTime.Now.Year - WolfsGames</p>
		</div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
